<div class="row">
  <div class="col-md-12 alert alert-info">
    Ola,
    <span id="user">
      <%= @conn.params["user"] %>
    </span>!
  </div>

  <div class="col-md-8">
    <h2>Mensagens</h2>
    <ul id="messageList" class="list-unstyled"></ul>
    <input type="text" id="newMessage" class="form-control">

  </div>
  <div  class="col-md-4">
    <h2>Quem esta online</h2>
    <ul id="userList">
      <li>Carregando usuarios..</li>
    </ul>
  </div>
</div>
